div.header {
    text-align: center;
    vertical-align: middle;
    background: url(../assets/head.png) no-repeat center fixed;
    background-size: 100%;
    height: 70%;
    overflow: hidden;
}
hl.title {
    font-size: 50px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px 5px 5px 5px;
}
div.intro {
    text-align: center;
    background-color: #174D1C;
}
.title {
    font-weight: bold;
    margin: 1px 2px 1px 2px;
}
div.social {
    text-align: center;
    background-color: #17404D;
}
a.imagebtn {
    padding: 2px 2px 2px 2px;
}
img.imagebtn {
    width: 25px;
}
div.projectheader {
    text-align: center;
    background-color: #4D1D17;
}
div.project {
    text-align: center;
    display: inline-block;
    width: 500px;
}
.pjtitle {
    color: black;
    font-weight: bold;
    margin: 1px 2px 1px 2px;
}
.project.website {
    background-color: #174D46;
}
.project.wii {
    background-color: #2587AD;
}
.project.hanoi {
    background-color: #A014A0;
}
.project.fafnir-net {
    background-color: #1C5DA7;
}
.project.fafnir-cpp {
    background-color: #2AC4A2;
}
.project.cpp {
    background-color: #A7821C;
}
.project.lev {
    background-color: #A71C1C;
}
.project.scrooge {
    background-color: #5B1AA7;
}
.project.dict {
    background-color: #cd6600;
}
.project.window {
    background-color: #00c6cd;
}
.project.dio {
    background-color: #8fbc8f;
}
.project.ramsay {
    background-color: #2b415e;
}
.project.calendar {
    background-color: #5e2b49;
}
